@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	margin: 0;
	padding-bottom: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	background: #F0F0F5;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
}

button {
	cursor: pointer;
}

input, button, textarea {
	font-size: 18px;
}

form input {
	width: 100%;
	height: 60px;
	color: #333;
	border: 1px solid #DCDCE6;
	border-radius: 10px;
	padding: 0 25px;
}

.button {
	width: 100%;
	height: 60px;
	background-color: #7836DA;
	border: 0;
	border-radius: 10px;
	color: #FFF;
	font-weight: bold;
	margin-top: 16px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
	transition: filter 0.2s;
}

.button:hover {
	filter: brightness(90%);
}

.back-link {
	display: flex;
	align-items: center;
	margin-top: 40px;
	color: #41414d;
	font-size: 16px;
	text-decoration: none;
	font-weight: 500;
	transition: opacity 0.2s;
}

.back-link svg {
	margin-right: 8px;
}

.back-link:hover {
	opacity: 0.8;
}
